/* font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family */
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.display-flex{
    display: flex;
}
.text-primary{
    color:  rgb(255, 144, 14);
}
/* dark 02 */
.text-gray{
    color: #424242;
}
/* dark 03 */
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    border: none;
    outline: none;
    color: white;
    padding: 16px 20px;
    font-size: 1.25rem;
}
main{
    max-width: 1126px;
    margin: 0 auto;
}
main > section{
    margin-top: 100px;
}

/* header style start here */

/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
 max-width: 1126px;
 margin: 0 auto;

 /* border: 2px solid red; */
}
/* banner content */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    /* border: 2px solid red; */
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 24px;
    margin-top: 50px;
}
.banner-description{
    color: rgb(114, 114, 114);
    margin-bottom: 32px;
}
.banner-image{
    width: 1126px;
    height: 483px;
    
}
/* header style end here */
/* main style start here */

.teams{
    align-items: center;
}
.team-img-container{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 24px;
}
.team-img-container img{
    width: 236px;
    height: 236px;
    
}
.our-features{
    margin-left:130px;
    max-width: 537px;
}
#quick-list{
 font-weight: 500;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.feature-description{
    margin-bottom: 32px;
}
/* feature  */
.feature{
    /* height:760px; */
    border: 2px solid red;
    gap: 100px;
    
}
.feature-container{
    height: 677px;
    padding: 15px 0;
}
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-section-desricption{
    margin-bottom: 30px;
    max-width: 582px;
}
.feature-card{
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
    /* max-width: 582px; */
    /* height: 117px; */
}
.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 10px;
  
}
.feature .images-box-architech img{
    height: 677px;
    /* width: 100%; */
}
#experience-badge{
    padding: 40px 37px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -55px;
    margin-top: -90px;
}
#experience-year{
    font-weight: 700;
    font-size: 45px;
}
/* some facts ralated styles */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    width: 175px;
    height: 175px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-number{
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1rem;
    font-weight: 600;
}
.fact-desription{
    max-width: 540px;
    margin-bottom: 100px;
}

/* sponsor related styles */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 130px;
}

.sponsor-companies img{
    filter: grayscale(100%);
}
/* main style start here */



/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar,
     .nav-links,
      .teams,
      .feature{
        flex-direction: column;
    }
    .banner-image{
        width: 100%;
        height: 100%;
    }
    .team-img-container
    ,.fact-container
    ,.sponsor-companies{
        grid-template-columns: 1fr;
    }
    .fact-container{
        justify-items: center;
        gap: 24px;
    }
    .sponsor-companies{
        justify-items: center;
        gap: 50px;
    }
    .team-img-container img{
        width: 100%;
        height: 100%;
    }
    .our-features{
        margin-left: 20px;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    .feature .images-box-architech img{
        margin-top: 50px;
        width: 100%;
    }
    .feature{
        padding: 10px;
    }
 
}

/* medium size device */
@media screen and (min-width:576px) and (max-width:992px) {
    .banner-image{
        width: 100%;
        height: 100%;
    }
    .teams, .feature{
        flex-direction: column;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    .our-features{
        margin: 50px auto;
    }
    .sponsor-companies, .fact-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
    .feature .images-box-architech img{
        width: 100%;
    }
   
}