/* font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family */
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.display-flex{
    display: flex;
}
/* dark 02 */
.text-gray{
    color: #424242;
}
/* dark 03 */
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    border: none;
    outline: none;
    color: white;
    padding: 16px 20px;
    font-size: 1.25rem;
}
/* header style start here */

/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
 max-width: 1126px;
 margin: 0 auto;

 /* border: 2px solid red; */
}
/* banner content */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    /* border: 2px solid red; */
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 24px;
    margin-top: 50px;
}
.banner-description{
    color: rgb(114, 114, 114);
    margin-bottom: 32px;
}
.banner-image{
    width: 1126px;
    height: 483px;
}
/* header style end here */


/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
    .banner-image{
        width: 100%;
        height: 100%;
    }
}